*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}


body {
    background-color: rgb(71, 125, 178);
}

#itemList {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    margin-left: 20%;
    margin-bottom: 4%;
}

#itemList>button {
    position: relative;
    padding: 0.4rem;
    border-radius: 5px;
    background-color:rgb(66, 67, 67);
    color:white;
    font-weight:800;
    font-size: small;
    margin: 10px;
    
}

.items {
    padding:0.4rem;
    border: 5px solid rgb(53, 52, 52);
    margin: 0.5rem;
    border-radius: 5px;
    width: 30%; 
}

li {
    margin:10px;
    font-weight: 800;
}

#products {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: start;
    margin-bottom: 2rem;
}

label {
    font-weight: 700;
}

.seller {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 32%;
    height: 400px;
    text-align: end;
    flex-wrap: wrap;
    /* background-color: rgb(211, 220, 227); */
    /* border-radius: 10px; */

}
.seller>h2 {
    display: flex;
    position:absolute;
    margin-left: 20%;
   
}

.products>li {

    margin:5rem 5rem 1rem;
}

.products>li>button {
    position: relative;
    padding: 0.2rem;
    border-radius: 5px;
    background-color:rgb(66, 67, 67);
    color:white;
    font-weight:800;
    font-size: small;
    margin: 8px;

}

h1 {
    margin: 10% 20% 3%;
}

/* footer */
.footer {
    color: rgb(219, 216, 216);
    background-color: rgb(48, 48, 52);

}

.upperSide {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3%;

}

.up_right {
    display: flex;
    justify-content: end;
}

img {
    margin: 3px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.lowerSide {
    display: flex;
    justify-content: space-evenly;
}

.lower-left .lower-right {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 10%;
    /* margin-left: 20%; */
}

.lower-left-upper>h2 {
    color: bisque;
    background-color: rgb(237, 200, 151, 0.4);
    padding: 0.5rem 5rem;
    border-radius: 5px;
}

.lower-right-lower-lists>li {
    list-style: none;
}

.lower-right-upper>h2 {
    color: bisque;
    background-color: rgb(237, 200, 151, 0.4);
    padding: 0.5rem 5rem;
    border-radius: 5px;
}

.lower-right-lower-list>li {
    list-style: none;
}

.lower-right-lower-list>li {

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

